<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   zhangzycn@foxmail.com
</div>
<br>
<h1><span>Activity</span></h1>
<a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16370">CVE-2018-16370</a>:PECSM-TEAM 2.2.2 has a file upload vulnerability<br>
<a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16371">CVE-2018-16371</a>:PECSM-TEAM 2.2.2 has multiple reflected Cross Site Scripting Vulnerability<br>
<a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16372">CVE-2018-16372</a>Ideacms has a reflected Cross Site Scripting Vulnerability<br>
<a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16373">CVE-2018-16373</a>:Frog CMS 0.9.5 has a file upload Vulnerability<br>
<a href="http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-16374">CVE-2018-16374</a>:Frog CMS 0.9.5 has a stored Cross Site Scripting Vulnerability<br>
